<h1>Editing end point</h1>

<%= render "form", end_point: @end_point %>

<br>

<div>
  <%= link_to "Show this end point", resource_end_point_path(@resource, @end_point) %> |
  <%= link_to "Back to end points", resource_end_points_path(@resource) %>
</div>
